@use '../abstracts/' as a;

.card {
  height: min(a.rem(185));
  padding-inline: a.rem(25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 a.rem(15) a.rem(14) a.rem(-2) a.$shadow;
  margin-bottom: a.rem(20);
  border-radius: a.rem(6);

  &__supervisor {
    border-top: 4px solid a.$cyan;
  }

  &__teambuilder {
    border-top: 4px solid a.$red;
  }

  &__karma {
    border-top: 4px solid a.$orange;
  }

  &__calculator {
    border-top: 4px solid a.$blue;
  }

  &__text {
    font-size: a.rem(11);
  }

  &__img {
    width: a.rem(45);
    align-self: flex-end;
  }

  @include a.breakpoint(medium) {
    height: min(a.rem(228));

    &__supervisor {
      grid-column: 1;
      grid-row: 3 / 4;
    }

    &__teambuilder {
      grid-column: 2;
      grid-row: 2/4;
    }

    &__karma {
      grid-column: 2;
      grid-row: 3/5;
    }

    &__calculator {
      grid-column: 3;
      grid-row: 3/4;
    }
  }
}
